* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  transition: all .5s;
}

.header-animation {
  transform: translateY(-100px);
}

.header-changingColor {
  background-color: #f0f0f0;
}

.logo-link {
  padding-right: 150px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  font-size: 22px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.nav-menu {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin-right: 100px;
  display: flex;
}

.nav-links li {
  font-size: 18px;
  margin: 0 35px;
  text-decoration: none;
}

.nav-links li a {
  color: black;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  transition: all .3s;
}

.nav-links li a:hover {
  color:#876c45;
}

.nav-links li button {
  color: #ffffff;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #000;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  transition: all .3s;
}

.nav-links li button:hover {
  background-color: #ffff;
  color: #000;
}

.front-page {
  background-image: url("https://static.wixstatic.com/media/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg/v1/fill/w_1600,h_900,al_c,q_85,usm_0.33_1.00_0.00,enc_auto/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: 50%;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slogan:first-child {
  margin-top: 180px;
}

.slogan { 
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: normal;
  letter-spacing: 25px;
  font-stretch: 150%;
  margin: 0;
}

.short-info {
  font-size: 25px;
  letter-spacing: 6px;
  font-family: 'Oswald', sans-serif;
}

.concept {
  width: 100%;
  height: 840px;
  display: flex;
  align-items: flex-end;
  background-color: #000;
}

.concept-block {
  width: 50%;
  height: 840px;
  position: relative;
}

.concept-block:first-child {
  height: 470px;
  padding: 0 250px 0 50px;
  margin: 0 0 160px 130px;
  border-left: solid 1px #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.concept-block:last-child {
  position: inherit;
}

.concept-title-first {
  margin: 0;
  color: #ffff;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
}

.concept-title-second {
  color: #ffff;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 5px;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
}

.concept-text {
  margin: 0;
  color: #ffff;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes scrolling {
  100% {
    margin-top: 50px;
  }
}

.animation-scroll_concept_block {
  animation-name: scrolling;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.scroll_block {
  margin-top: 200px;
  width: 5px;
  height: 100px;
  background-color: #f0f0f0;
  position:absolute;
  left: 0;
  border-radius: 10px;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.info-inside-box {
  padding-top: 50px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-inside-box:nth-child(2) {
  margin-right: 150px;
  margin-left: 0;
}

.info-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}

.info-text {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 350px;
}

.info-button-box {
  margin-bottom: 130px;
  margin-left: 10px;
  width: 120px;
  display: flex;
}

.info-button {
  border: 1px solid #000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  transition: all .3s;
  background-color: #ffff;
}

.info-button:hover {
  background-color: #000;
  color: #ffff;
}

.info-arrow-box {
  padding: 10px 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #000;
  border-left: none;
  background-color: #ffff;
}

.robo-arm-box {
  display: flex;
  align-items: center;
  height: 980px;
  background-image: url("https://static.wixstatic.com/media/c837a6_870aaf57c1d9484a9a6ee57f2465df75~mv2.jpg/v1/fill/w_1600,h_980,al_r,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_870aaf57c1d9484a9a6ee57f2465df75~mv2.jpg");
  background-attachment: fixed;
}

@keyframes robo-arm-scrolling-box {
  to {
    margin-top: 0;
  }
}

.robo-arm-info-animation {
  animation-name: robo-arm-scrolling-box;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.robo-arm-info {
  background-color: #000;
  padding: 50px 100px 50px 50px;
  margin-left: 300px;
  border-radius: 10px;
  width: 500px;
  height: 650px;
  margin-top: 300px;
}

.robo-arm-info-inside-box {
  border-left: 1px solid #fff;
  padding: 0 0 0 50px;
  position: relative;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.robo-title {
  margin: 0;
  color: #ffff;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
}

.robo-title-center {
  color: #ffff;
  font-size: 25px;
  font-weight: normal;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
}

.robo-text {
  margin: 0;
  color: #ffff;
  font-size: 17px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
}

.robo-arm-button-box {
  margin: 0;
}

.robo-arm-button {
  background-color: #000;
  color: #ffff;
  border-color: #ffff;
}

.robo-arm-button:hover {
  background-color: #ffff;
  color: #000;
}

.robo-arm-arrow-box {
  border-color: #ffff;
  background-color: #000;
}

.robo-arrow {
  color: #ffff;
}

@keyframes scroll-robo-arm {
  to {
    margin-top: 100px;
  }
}

.robo-arm-animation {
  animation-name: scroll-robo-arm;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.robo-arm-scroll {
  margin-top: 300px;
}

.num-outside-main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.autobo-numbers {
  height: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-block-one {
  width: 400px;
}

.num-second-block {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  column-gap: 100px;
  margin-right: 200px;
  margin-top: 40px;
}

.num-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.marketing-block {
  width: 200px;
}

.marketing-block-inside {
  margin-bottom: 17px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  opacity: 0;
  transition: all 3s;
}

.marketing-block-inside-invisible {
  opacity: 1;
}

.marketing-block-title {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #000;
}

.marketing-block-title-inside {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.scroll_marketing {
  position: absolute;
  margin-left: 100px;
  background-color: #000;
  top: -4px;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 0;
}

@keyframes scroll-marketing {
  to {
    margin: 0;
  }
}

.scroll-marketing-animation {
  animation-name: scroll-marketing;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}