body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.logo-link {
  padding-right: 150px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  font-size: 22px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.nav-menu {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin-right: 100px;
  display: flex;
}

.nav-links li {
  font-size: 18px;
  margin: 0 35px;
  text-decoration: none;
}

.nav-links li a {
  color: black;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  transition: all .3s;
}

.nav-links li a:hover {
  color:#876c45;
}

.nav-links li button {
  color: #ffffff;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #000;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  transition: all .3s;
}

.nav-links li button:hover {
  background-color: #ffff;
  color: #000;
}

.front-page {
  background-image: url("https://static.wixstatic.com/media/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg/v1/fill/w_1600,h_900,al_c,q_85,usm_0.33_1.00_0.00,enc_auto/c837a6_02de7d4c43d44b7b890854049ed75da8f000.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: 50%;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slogan:first-child {
  margin-top: 180px;
}

.slogan { 
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: normal;
  letter-spacing: 25px;
  font-stretch: 150%;
  margin: 0;
}

.short-info {
  font-size: 25px;
  letter-spacing: 6px;
  font-family: 'Oswald', sans-serif;
}